.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about__collapses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px) {
  .about {
    gap: 1rem;
  }
  .about__collapses {
    gap: 0.75rem;
  }
}
