.banner-about {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.banner-about__img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner-about {
    border-radius: 0.5rem;
  }
  .banner-about__img {
    height: 10rem;
  }
}
