.banner-about {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.banner-about::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
  border-radius: inherit;
}

.banner-about__img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1rem;
  display: block;
}

@media (max-width: 768px) {
  .banner-about {
    border-radius: 0.5rem;
  }
  .banner-about__img {
    height: 10rem;
    border-radius: 0.5rem;
  }
}
